<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script src="/static/snowfall-op.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/JQuery-Snowfall/1.7.4/snowfall.jquery.min.js"></script>

    <link rel="stylesheet" href="/static/style.css" />
    <title>Sweets Database</title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/a0cc861018.js"
      crossorigin="anonymous"
    ></script>

    <!-- マクロの定義 -->
    {% import 'macros/itemCard.html' as macro1 with context %} {% import
    'macros/linkCard.html' as macro2 with context %} {% import
    'macros/modalCard.html' as macro3 with context %}

    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="./">
          <img
            src="{{url_for('static', filename='/img/icon-chara.png')}}"
            alt=""
            width="90"
            height="90"
            class="d-inline-block align-text-top logo"
          />
          お菓子ニュース
        </a>
      </div>
    </nav>

    <section class="item-detail">
      <h2>
        最新情報 {% set genre_dict = { "snack": "スナック", "choco":
        "チョコレート","cookie": "クッキー", "candy": "アメ・ガム",
        "japanese":"せんべい・和風", "limited": "限定お菓子" } %} {% if genre in
        genre_dict%}
        <span id="heading-{{ genre }}">{{ genre_dict[genre] }}</span>
        {% endif %}
      </h2>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          {% for item in items %} {{ macro1.generateItemCard(item) }} {{
          macro3.generateModalCard(item) }} {% endfor %}
        </div>
      </div>
    </section>
    <section class="latest-info move-box">
      <h2>最新情報</h2>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <!-- スナック -->
          {{ macro2.generateLinkCard("snack") }}
          <!-- チョコ -->
          {{ macro2.generateLinkCard("choco") }}
          <!-- クッキー -->
          {{ macro2.generateLinkCard("cookie") }}
          <!-- アメ・ガム -->
          {{ macro2.generateLinkCard("candy") }}
          <!-- せんべい・和風 -->
          {{ macro2.generateLinkCard("japanese") }}
          <!-- 限定お菓子 -->
          {{ macro2.generateLinkCard("limited") }}
        </div>
      </div>
    </section>
    <script>
      $(document).ready(function () {
        $(document).snowfall({
          image: ["/static/img/icon-gummy.png"],
          flakeIndex: 1,
          flakeCount: 3,
          maxSpeed: 0.5,
          minSpeed: 0.5,
          maxSize: 100,
          minSize: 50,
          shadow: false,
        });
      });

      $(function () {
        $(".openModalBtn").click(function () {
          var modalId = $(this).data("modal-id");
          $("#" + modalId).fadeIn();
        });

        $(".closeModal, .modalBg").click(function () {
          var modalId = $(this).closest(".modalArea").attr("id");
          $("#" + modalId).fadeOut();
        });
      });
    </script>
  </body>
</html>
