<!-- index.html -->

<!-- お菓子の虜 API -->
<!--インスタンス名：snack, chocolate, cookie, candy, japanese, limited -->
<!--id, name, kana, maker ,price, type, date, link, tag, image, text-->

<!-- Instagram API -->
<!--インスタンス名：instagram-->
<!--id, like, comment, follower, post, text, image, username, link, date-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweets Database</title>
</head>
<body>
    <h1>Instagramテーブルの使い方</h1>
    <h2>例</h2>
    いいね数 : 
    {{instagram[0].like}} (← instagram[0].like)<br>
    コメント数 : 
    {{instagram[0].comment}} (← instagram[0].comment)<br>
    フォロワー数 : 
    {{instagram[0].follower}} (← instagram[0].follower)<br>
    投稿数 : 
    {{instagram[0].post}} (← instagram[0].post)<br>
    投稿リンク : 
    {{chocolate[0].link}} (← chocolate[0].link)<br>
    投稿文 : <br>
    {{instagram[0].text}} (← instagram[0].text)<br>

    <h1>お菓子の虜テーブルの使い方</h1>
    <h2>例：個別に表示</h2>
    ID : {{chocolate[0].id}} <br>
    名前 : {{chocolate[0].name}}<br>
    メーカー : {{chocolate[0].maker}}<br>
    タイプ : {{chocolate[0].type}}<br>
    リンク : {{chocolate[0].link}}<br>
    タグ : {{chocolate[0].tag}}<br>
    画像 : <br>
    <img src="{{ chocolate[0].image }}" alt="Sweets Image"> <br>
    投稿文 :{{chocolate[0].text}}<br>
    

    <h2>まとめて表示</h2>
    <ul>
        {% for item in chocolate %}
            <li>
                <strong>ID:</strong> {{ item.id }}<br>
                <strong>Name:</strong> {{ item.name }}<br>
                <img src="{{ item.image }}" alt="Sweets Image">
                <hr>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
